html {
  scroll-behavior: smooth;
}

#content {
  max-width: 100%;
}

body {
  margin: 0 auto;
}

.container {
  max-width: 900px;
  margin: 80px auto;
  padding: 0;
}

.top {
  text-align: center;
  background-color: rgb(231, 231, 231);
}

.singleNavBody {
  margin: 0;
  padding: 16px;
}

.singleNavBody:hover {
  background-color: lightgrey;
  color: black;
}

.personalContainer {
  margin: 0;
  padding: 10px 15px;
}

.personalContainer p {
  font-size: 15px;
}

.personalContainer .opacityContainer {
  margin: 0;
  opacity: 0.7;
  padding: 10px 0px;
  font-size: 16px;
}

.personalContainer .buttonContainer {
  width: 100%;
  border-style: none;
  padding: 10px;
  margin: 0;
  background-color: rgb(231, 231, 231);
}

.personalContainer .buttonContainer:hover {
  background-color: lightgrey;
  color: black;
}

.fadeout {
  transition: 1s opacity;
  text-align: center;
  font-size: 32px;
}

.allTabs {
  margin-right: 30px;
  padding: 0;
  box-shadow: 0px 3px 23px 1px rgba(0, 0, 0, 0.75);
}

.tab p {
  text-align: center;
  margin-top: 16px;
  font-size: 20px;
  justify-content: center;
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 60px auto;
  background-color: rgb(231, 231, 231);
  border: 1px solid white;
  box-shadow: 0px 3px 23px 1px rgba(0, 0, 0, 0.75);
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.contain {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.contain::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0%;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

@media screen and (max-width: 600px) {
  .contain.left {
    left: 0px;
  }
}

.right::after {
  left: -12px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(172, 172, 172);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

input[type=submit]:hover {
  background-color: rgb(231, 231, 231);
  color: black;
}

.contact {
  width: 80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0;
}

.contactTitle h3 {
  padding: 10px;
  margin-bottom: 40px;

}

.contactTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animatedBorder h3 {
  width: 200px;
  text-align: center;
  font: 24px sans-serif;
  border: 10px solid white;
  animation: myAnimation 1s ease 1s 5 alternate forwards;
}

@keyframes myAnimation {
  100% {
    border-bottom-color: grey;
  }
}

.aTitle {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourTabsContainer {
  margin-left: 0px;
  margin-bottom: 60px;
  padding-left: 20px;
}

.footerFlex {
  padding: 40px 0px;
  background-color: lightgrey;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.footerFlex a {
  padding: 8px 4px;
  display: inline-block;
  text-decoration: none;
}

.buttonToTop {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.buttonToTop:hover {
  color: #FF9F55;
}

.facebook {
  color: black;
  font-size: 24px;
}

.linkedin {
  color: black;
  font-size: 24px;
}

.google {
  color: black;
  font-size: 24px;
}

.google:hover {
  color: rgb(170, 6, 6);
}

input.changeColorGood {
  outline: 1px solid green;
}

input.changeColorBad {
  outline: 1px solid red;
}

.invalid {
  outline: 1px solid red;
}

.hidden {
  display: none;
  visibility: hidden;
}

.counter {
  color: red;
}

#text {
  width: 80%;
  margin: 0 auto;
  padding: 0px 35px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D8FFBF;
  color: green;
}

#text p {
  width: 100%;
  margin: 10px 0px;
  font-size: 18px;
}

#text a {
  text-decoration: none;
  color: green;
}

.contentTop {
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
}

.contentBody {
  max-width: 800px;
  margin: auto;
  margin-bottom: 40px;
}

.nameTitle {
  padding: 20px;
}

.contactCV {
  border-left: 1px solid #FF9F55;
}

.contactCV p {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.abilitiesRow {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.abilitiesRow p {
  margin: 0;
  padding: 10px;
}

.col-sm-6 {
  border-top: 1px solid #FF9F55;
}

.abilityRightContainer {
  border-left: 1px solid #FF9F55;
}

.workExperienceContainer {
  border-top: 1px solid #FF9F55;
}

.workExperienceRightSubTab {
  border-left: 1px solid #FF9F55;
}

.workExperienceContainer h3 {
  padding: 20px 10px;
}

.date {
  opacity: 0.7;
}

.educationContainer {
  border-top: 1px solid #FF9F55;
}

.educationContainerLeft {
  border-left: 1px solid #FF9F55;
}

.educationContainer h3 {
  padding: 20px 10px;
  margin: 0;
}

.removeEffect a {
  text-decoration: none;
  cursor: default;
  color: #212529;
}

.removeEffect a:hover {
  color: #007bff;
}

.weatherBorder {
  border-right: 1px solid #FF9F55;
  border-left: 1px solid #FF9F55;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
  text-align: center;
}

.jokesRow {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.jokesRow p {
  padding: 14px 0px 14px 10px;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-left: 1px solid #FF9F55;
  border-right: 1px solid #FF9F55;
}

.jobRow {
  padding: 0px 35px;
}

.newsRow {
  border-left: 1px solid #FF9F55;
  border-right: 1px solid #FF9F55;
}

.funFact {
  margin: 16px 0px;
}

.newsContainer {
  margin-top: 20px;
  border-left: none;
}

.funWithNumbers {
  border: none;
}

.funWithNumbersRight {
  border-left: 1px solid #FF9F55;
}

#resetButton {
  background-color: rgb(172, 172, 172);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

#resetButton:hover {
  background-color: rgb(231, 231, 231);
  color: black;
}

.numberGameButton {
  background-color: rgb(75, 75, 75);
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.numberGameButton:hover {
  background-color: rgb(231, 231, 231);
  color: black;
}